.icon {
    filter:url(dropShadow.svg#specularLighting);
}

.contener {
    fill:#00ffff;
    opacity:0.13201318;
}

.content {
    fill:lime;
    filter:url(../css/dropShadow.svg#dropShadow);
}

.content2 {
    fill:darkgray;
}
